html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}

body {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: #D6CCA9; */
    background-image: linear-gradient(to right, #d0c8b0, #ebd5b3);
}

/* map to page */
.imagebg {
    position: fixed;
    width: 100%;
    max-height: 100vh;
    z-index: -1;
}

/* imgsprites */

img.crusadersprite1 {
    height: 25vh;
    position: fixed;
    top: 3rem;
    left: 0;
    z-index: 50;
    opacity: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

img.skellyBrute {
    height: 40vh;
    position: fixed;
    top: 3rem;
    right: 0;
    z-index: 50;
    opacity: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

img.skellyRanger {
    height: 40vh;
    position: fixed;
    top: 3rem;
    right: 0;
    z-index: 50;
    opacity: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

img.barroChill {
    height: 40vh;
    position: fixed;
    top: 3rem;
    right: 0;
    z-index: 50;
    opacity: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

img.barroMad {
    height: 40vh;
    position: fixed;
    top: 3rem;
    right: 0;
    z-index: 50;
    opacity: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

/* EVENT 1 START */
.event1__checkbox{
    display: none;
}

.event1__button {
    /**/
        background-color: #fff;
        height: 3rem;
        width: 3rem;
        position: fixed;
        top: 35rem;
        left: 4rem;
        border-radius: 50%;
        z-index: 2;
        text-align: center;
        cursor: pointer;
        font-size: 2.5rem;
}

.event1__background {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: fixed;
    top: 35rem;
    left: 4.2rem;
    background-image: radial-gradient(red, black);
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.86,0,0.7,1);
}

.event1__checkbox:checked ~ .event1__background {
    transform: scale(200);
    z-index: 2;
}


/*
.event1__checkbox:checked img.crusadersprite1 {
    opacity: 1;
    width: 100vw;
} */
/* EVENT 1 END */